*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.left{
    padding: 3rem;
    display:grid;
    place-items: center;
    text-align: center;
}
#copybtn{
    padding:0.5rem;
}
.right{
    display:grid;
    place-items: center;
}
#div{
    width: 400px;
    height: 400px;
    border-radius: 5%;
    background-color: slateblue;
}
textarea{
    resize:none;
}
textarea:focus{
    border:none;
    outline:none;
}
input[type="range"]{
    width: 100%;
}
